@model WebApplication2.Models.Dersler

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sil</h1>

<div>
    <h4>Dersler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ders.DersAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ogretmen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ogretmen.Adi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
