@model IEnumerable<WebApplication2.Models.Ogrenciler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<h1>Öğrenciler</h1>

<p>
    @*<a class="btn btn-primary" asp-action="Create">Create New</a>*@
    @Html.ActionLink("Öğrenci Ekle","Create","Ogrencilers")
</p>
<table class="table table-bordered table-striped" id="datatablesSimple">
    <thead class="bg-info bg-opacity-80 text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeliTelNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotograf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sınıf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyadi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VeliTelNo)
                </td>
                <td class="text-center align-middle">
                    <img src="@Url.Content(item.Fotograf)" style="display: block; margin: auto;" width="80" height="80" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sınıf.sınıf)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Öğrenci Detayı", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#datatablesSimple').DataTable({

        });
    });</script>