@model WebApplication2.Models.Notlar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detaylar</h1>

<div>
    <h4>Notlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ogrenci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ogrenci.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DersAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DersAd.DersAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotDegeri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotDegeri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sonuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sonuc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
