@model IEnumerable<WebApplication2.Models.Notlar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Notlar</h1>

<p>
    @Html.ActionLink("Not Ekle","Create","Notlars")
</p>
<p><strong>Geçer Not: 60</strong></p> 
<table class="table table-bordered table-striped" id="datatablesSimple">
    <thead class="bg-info bg-opacity-80 text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ogrenci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DersAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotDegeri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sonuc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ogrenci.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DersAd.DersAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotDegeri)
                </td>
                <td>
                    @(item.sonuc.HasValue ? (item.sonuc.Value ? "Geçti" : "Kaldı") : "Belirtilmemiş")
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Not Detayı", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#datatablesSimple').DataTable({

        });
    });</script>
