@model WebApplication2.Models.Duyurular

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detaylar</h1>

<div>
    <h4>Duyurular</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ogretmen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ogretmen.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duyuru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duyuru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yer.mekan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
