@model IEnumerable<WebApplication2.Models.Duyurular>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Duyurular</h1>

<p>
    @*<a class="btn btn-primary" asp-action="Create">Create New</a>*@
    @Html.ActionLink("Duyuru Ekle", "Create", "Duyurulars")
</p>
<table class="table table-bordered table-striped" id="datatablesSimple">
    <thead class="bg-info bg-opacity-80 text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ogretmen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duyuru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ogretmen.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duyuru)
                </td>
                <td>
                    @item.Tarih.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yer.mekan)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Duyuru Detayı", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#datatablesSimple').DataTable({

        });
    });
</script>